*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.container{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: repeat(3, 250px);
    grid-gap: 10px;
    justify-content: center;
}
.container div{
    background: blue;
}
.container .col-3{
    grid-column: 1 / 4;
}
.container .col-2{
    grid-column: span 2;
}