main{
    width: 600px;
    margin: auto;
}
header, .col-1, .col-2, .col-3, footer{
    height: 150px;
    background-color: DodgerBlue;
    margin-bottom: 30px;
    color: white;
    padding-left: 40px;
    font-size: 40px;
    line-height: 150px;
    box-sizing: border-box;
}
header{
    color: white;
    padding-left: 40px;
    font-size: 40px;
    line-height: 150px;
}
.col-1, .col-2{
    width: 280px;
}
.col-1{
    float: left;
}
.col-2{
    float: right;
}
.col-3{
    width: 400px;
    clear: both;
    margin: 0 auto 30px;
}