main{
    width: 600px;
    margin: auto;
}
.row div{
    height: 150px;
    background-color: DodgerBlue;
    margin-bottom: 30px;
    margin-right: 30px;
    color: white;
    padding-left: 40px;
    font-size: 40px;
    line-height: 150px;
    box-sizing: border-box;
}
.col-1{
    width: 180px;
    float: left;
}
.col-2{
    width: 390px;
    float: left;
}
.row {
    clear: both;
}
.row div:last-child{
    margin-right: 0px;
}
.height-2{
    height: 330px!important;
    float: right;
    margin-right: 0px!important;
}