main{
    width: 600px;
    margin: auto;
}
header, .col-1, .col-2, .col-3, footer{
    height: 150px;
    background-color: DodgerBlue;
    margin-bottom: 30px;
    color: white;
    padding-left: 40px;
    font-size: 40px;
    line-height: 150px;
    box-sizing: border-box;
}
header{
    color: white;
    padding-left: 40px;
    font-size: 40px;
    line-height: 150px;
}
.col-1, .col-2, .col-3{
    width: 180px;
    float: left;
}
.col-1{

}
.col-2{
    margin-left: 30px;
}
.col-3{
    margin-left: 30px;
}
footer{
    clear: both;
}