.badge{
    width: 100px;
    height: 100px;
    background-color: bisque;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}
.label{
    height: 20px;
    background-color: red;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    border-radius: 40px;
    padding: 1px 6px;
    text-align: center;
}