.message{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 300px;
    padding: 10px;
    border: 2px solid gray;
}
.message p {
    margin-top: 5px;
    margin-bottom: 10px;
}
.message a {
    position: absolute;
    top: 15px;
    right: 15px;
    text-decoration: none;
    color: black;
}
.message span {
    color: gray;
}